@import "variable";
body{
  background-color: $primary-color;
}

nav{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2auto;
  justify-items: center;
  background-color: $secondary-color;
  ul li{
    display: inline;
    margin-right: 15px;
    background-color: orangered;
  }
}

h1{
  font-family: "Book Antiqua", "Times New Roman", "Courier New", sans-serif;
}

.form{
  display: grid;
  grid-template-columns: 250px ;
 }




.about{
  margin: auto;
  width: 650px;
  height: fit-content;
  background-color: $secondary-color;
  border: solid 3px black;
  box-shadow: 5px 5px 5px 0 grey;
  transition: transform 1.8s linear, background-color 2.1s ease-out;
  &:hover{
  transform: scale(60%);
  background: indigo linear-gradient(to right, blue, pink);}
}

